
.page-footer {
  background-color: $base-dark-color;
  color: #eeeeee;

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    color: #777777;

    &:hover {
      color: #ffffff;
    }
  }
}

.footer-fifth {
  margin: 20px 0;
  text-align: center;

  a {
    color: #eeeeee;
  }
}