
.page-header {
  margin: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.header-logo {
  padding: 100px 20px;
  background-color: $base-dark-color;
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.header-logo__title {
  display: block;
  color: $base-color;
  text-shadow: 0 0 5px #000000, 0 0 20px #000000;
  letter-spacing: 12px;
  font-weight: bold;
  font-size: 48px;
}

.header-logo__description {
  display: block;
  padding-left: 2px;
  color: #eeeeee;
  text-shadow: 0 0 5px #000000, 0 0 20px #000000;
  letter-spacing: 5px;
  font-size: 16px;
}