
section {
  position: relative;
  overflow: hidden;

  > h1 {
    margin-bottom: 40px;
  }

  > h2 {
    margin: 50px 0 40px 40px;

    &::after {
      position: absolute;
      margin: 20px 0 0 15px;
      width: 100%;
      border-bottom: 3px solid rgba($base-lighten, 0.7);
      content: "";
    }

    &::before {
      position: absolute;
      left: 0;
      margin: 20px 0 0 0;
      width: 25px;
      border-bottom: 3px solid rgba($base-lighten, 0.9);
      content: "";
    }
  }
}

.new-films-item:hover .new-films-item__label,
.top-week-item:hover .top-week-item__label {
  color: #ffffff;
}

.new-films-item,
.top-week-item {
  &:hover {
    .thumbnail {
      border-color: $base-color;
      background-color: $base-color;
    }
  }

  & &__label {
    color: $main-color;
    transition: color 0.25s ease;
  }

  &__image {
    width: 100%;
  }

  .thumbnail {
    transition: background-color 0.25s ease;
  }

  .caption {
    text-align: center;
  }
}


.film-news {
  img {
    width: 100%;
  }

  &-item {
    &:hover {
      .thumbnail {
        background-color: $base-lighten;
      }

      h3 > a {
        color: $base-color;
      }

      .btn-warning {
        background-color: $base-color;
      }
    }

    &__text {
      text-align: justify;
    }
  }

  h3 > a {
    transition: color 0.25s ease;
  }

  .thumbnail {
    transition: background-color 0.25s ease;
  }

  .btn-warning {
    float: right;
    margin-bottom: 30px;
    transition: background-color 0.25s ease;
  }
}
