
/* colors palette http://paletton.com/#uid=70K0u0kthr+iszgnpu9uQmjB5hk */

$base-color: #df8a13;
$base-lighten: #f0ad4e;
$base-darken: #8a5100;
$main-color: #165690;
$main-lighten: #5182ae;
$main-darken: #053259;
$base-color-red: tomato;
$base-dark-color: #222222;
$border-lighten: #dddddd;

