
html {
  overflow-y: scroll;

  font-size: 16px;
}

body {
  font-family: $font-main;
  font-size: 1rem;
}

a {
  color: $base-color;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $accent-color;
  }
}

h1 {
  margin: 40px 0;

  font-family: $font-header;
  font-size: 3rem;

  &::after {
    position: absolute;

    width: 100%;
    margin: 0.85em 0 0 15px;

    content: "";

    border-bottom: 3px solid rgba($accent-light, 0.7);
  }
}

h2 {
  margin: 50px 0 40px 40px;

  font-family: $font-header;
  font-size: 2.5rem;

  &::before {
    position: absolute;
    left: 0;

    width: 25px;
    margin: 0.25em 0 0 0;

    content: "";

    border-bottom: 3px solid rgba($accent-light, 0.9);
  }

  &::after {
    position: absolute;

    width: 100%;
    margin: 0.85em 0 0 15px;

    content: "";

    border-bottom: 3px solid rgba($accent-light, 0.7);
  }
}

section {
  position: relative;

  overflow: hidden;
}
