
.header-logo {
    padding: 100px 20px;

    text-align: center;

    background-color: $dark-color;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-size: cover;

    &__title {
        display: block;

        letter-spacing: 0.33em;

        color: $accent-color;
        text-shadow: 0 0 5px darken($dark-color, 14%), 0 0 20px darken($dark-color, 14%);

        font-family: $font-header;
        font-size: 3.5rem;
        font-weight: bold;
    }

    &__description {
        display: block;

        letter-spacing: 0.2em;

        color: lighten($gray-color, 14%);
        text-shadow: 0 0 5px darken($dark-color, 14%), 0 0 20px darken($dark-color, 14%);

        font-size: 1.15rem;
    }
}