
.main {
  .panel-search {
    margin: 40px 0 20px 0;
  }
}

.new-films-item:hover .new-films-item__label,
.top-week-item:hover .top-week-item__label {
  color: lighten($color-gray, 14%);
}

.new-films,
.top-week {
  .row {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }

  .thumbnail {
    margin-bottom: 15px;
  }

  &-item {
    padding-right: 7.5px;
    padding-left: 7.5px;

    &:hover {
      .thumbnail {
        border-color: $color-accent;
        background-color: $color-accent;
      }
    }

    &__image {
      width: 100%;
    }

    &__label {
      @include text-shortener;
    }

    .thumbnail {
      transition: background-color 0.25s ease;
    }

    .caption {
      text-align: center;
    }
  }
}

.film-news {
  img {
    width: 100%;
  }

  &-item {
    &:hover {
      .thumbnail {
        background-color: lighten($color-accent, 15%);
      }

      h3 > a {
        color: $color-accent;
      }

      .btn-warning {
        background-color: $color-accent;
      }
    }

    &__text {
      text-align: justify;
    }
  }

  h3 > a {
    transition: color 0.25s ease;
  }

  .thumbnail {
    margin-bottom: 0;

    transition: background-color 0.25s ease;
  }

  .btn-warning {
    float: right;

    margin-bottom: 30px;

    transition: background-color 0.25s ease;
  }
}