.film-info {
  font-size: 1.2em;

  &__badge {
    font-size: 0.8em;

    &:not(:last-child) {
      margin-right: 3%;
    }
  }

  &__well {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


.film-send-comment {
  .btn {
    float: right;
  }
}