.film-info {
  font-size: 1.2em;

  &__wrapper {
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-right: $gap;
    }
  }

  &__badge {
    font-size: 0.8em;
  }

  &__well {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


.film-send-comment {
  &__button {
    float: right;
  }
}
