
.left-sidebar {
    margin-top: 40px;
}

.vertical-slider {
    overflow: hidden;

    border-radius: 4px;

    img {
        width: 100%;
    }
}

.site-news-item {
    position: relative;

    clear: both;

    &:not(:last-child) {
        min-height: 85px;
        margin-bottom: 15px;

        &::after {
            position: absolute;
            right: 0;
            bottom: -5px;

            width: calc(100% - 85px);
            height: 1px;

            content: "";

            background-color: $gray-color;
        }
    }

    &:hover {
        .site-news-item__title a {
            color: $accent-color;
        }

        .site-news-item__image {
            border-color: $accent-color;
            background-color: $accent-color;
        }
    }

    &__image {
        float: left;

        width: 75px;
        margin: 0 10px 10px 0;

        transition: background-color 0.25s ease;

        img {
            width: 100%;
        }
    }

    &__date {
        text-align: right;

        color: darken($gray-color, 30%);

        font-size: 0.8rem;
    }

    &__title {
        margin-bottom: 10px;

        a {
            transition: color 0.25s ease;

            color: $base-color;

            @include block-shortener(1rem, 1.5, 50px, 2);
        }
    }
}

.top-films {
    .panel-body {
        padding-right: 0;
        padding-left: 0;
    }

    .list-group {
        margin-bottom: 0;
    }

    .badge {
        margin-top: 3px;
    }

    &-item {
        border-top: 1px solid $gray-color;
        border-right: none;
        border-left: none;
        background-color: transparent;

        &:first-child {
            border-top: none;
            border-radius: 0;
        }

        &:last-child {
            border-bottom: none;
            border-radius: 0;
        }

        &:hover {
            background-color: $accent-color;

            a {
                color: lighten($gray-color, 14%);
            }

            .badge {
                background-color: $dark-color;
            }
        }
    }
}