.left-sidebar {
  margin-bottom: $gap * 4;

  .panel:last-of-type {
    margin-bottom: 0;
  }
}

.vertical-slider {
  overflow: hidden;

  border-radius: 4px;

  img {
    width: 100%;
  }
}

.site-news {
  &-item {
    position: relative;

    clear: both;

    &:not(:last-child) {
      min-height: 85px;
      margin-bottom: $gap;

      &::after {
        position: absolute;
        right: 0;
        bottom: -5px;

        width: calc(100% - 85px);
        height: 1px;

        content: "";

        background-color: $color-gray;
      }
    }

    &:hover {
      .site-news-item__title a {
        color: $color-accent;
      }

      .site-news-item__image {
        border-color: $color-accent;
        background-color: $color-accent;
      }
    }

    &__image {
      float: left;

      width: 75px;
      margin: 0 10px 10px 0;

      transition: background-color 0.25s ease;

      img {
        width: 100%;
      }
    }

    &__date {
      text-align: right;

      color: darken($color-gray, 30%);

      font-size: 0.8rem;
    }

    &__title {
      margin-bottom: 10px;

      a {
        transition: color 0.25s ease;

        @include block-shortener(1rem, 1.5, 50px, 2);
      }
    }
  }
}

.top-films {
  .panel-body {
    padding-right: 0;
    padding-left: 0;
  }

  .list-group {
    margin-bottom: 0;
  }

  .badge {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  &-item {
    margin-right: -1px;
    margin-left: -1px;
    padding: 0;

    border-top: 1px solid $color-gray;
    border-right: none;
    border-left: none;
    background-color: transparent;

    a {
      display: block;

      padding: 10px 40px 10px $gap;
    }

    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }

    &:hover {
      background-color: $color-accent;

      a {
        color: $color-light;
      }

      .badge {
        background-color: $color-dark;
      }
    }
  }
}
