.left-sidebar {
  @extend %margin-bottom-lg;

  .panel:last-of-type {
    margin-bottom: 0;
  }
}

.vertical-slider {
  overflow: hidden;

  border-radius: 4px;

  img {
    width: 100%;
  }
}

.user-login {
  position: relative;

  &__tabs {
    position: absolute;
    top: 0;
    right: $gap / 3 * 2;

    border: none;

    a {
      padding: 14px 5px 12px !important;

      color: $color-gray;
      border: none !important;
      background-color: transparent !important;
    }

    .active a {
      color: $color-light !important;
    }
  }
}

.site-news {
  &-item {
    position: relative;

    clear: both;

    &:not(:last-child) {
      min-height: 85px;
      margin-bottom: $gap;

      &::after {
        position: absolute;
        right: 0;
        bottom: -5px;

        width: calc(100% - 85px);
        height: 1px;

        content: "";

        background-color: $color-gray;
      }
    }

    &:hover {
      .site-news-item__title a {
        color: $color-accent;
      }

      .site-news-item__image {
        border-color: $color-accent;
        background-color: $color-accent;
      }
    }

    &__image {
      float: left;

      width: 75px;
      margin: 0 10px 10px 0;

      img {
        width: 100%;
      }
    }

    &__date {
      text-align: right;

      color: darken($color-gray, 30%);

      font-size: 0.8rem;
    }

    &__title {
      margin-bottom: 10px;

      a {
        transition: color 0.25s;

        @include block-shortener(1rem, 1.5, 50px, 2);
      }
    }
  }
}

.top-films {
  &__body {
    padding-right: 0;
    padding-left: 0;
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    margin-right: -1px;
    margin-left: -1px;
    padding-right: 55px;

    transition: none;

    color: $color-primary !important;
    background-color: transparent;

    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }

    &:hover,
    &:focus {
      color: $color-light !important;
      border-color: $color-accent;
      background-color: $color-accent !important;

      .badge {
        background-color: $color-dark;
      }
    }
  }

  &__badge {
    position: absolute;
    top: 50%;
    right: $gap;

    transform: translateY(-50%);
  }
}
