.header-logo__title,
.header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.navbar-inverse {
  border-color: transparent;
  background-color: #191919;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
       -o-transition: background-color 0.5s;
          transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;

  margin-right: 0;
}

.panel {
  margin-bottom: 30px;

  border: none;
  background-color: #f1f1f1;
}

.panel-info > .panel-heading {
  color: #ffffff;
  border: none;
  background-color: #df8a13;
}

.panel-title {
  letter-spacing: 0.1em;

  font-size: 1.2rem;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg {
  font-size: 0.875rem;
}

.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.well {
  border-color: #dddddd;
  background-color: #f1f1f1;
}

.embed-responsive {
  border-radius: 4px 4px 0 0;
}

html {
  overflow-y: scroll;

  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

a {
  color: #165690;
}

a:hover,
a:focus {
  text-decoration: none;

  color: #df8a13;
}

h1 {
  margin: 40px 0;

  font-family: "PT Serif", serif;
}

h1::after {
  position: absolute;

  width: 100%;
  margin: 0.85em 0 0 15px;

  content: "";

  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2 {
  margin: 50px 0 40px 40px;

  font-family: "PT Serif", serif;
}

h2::before {
  position: absolute;
  left: 0;

  width: 25px;
  margin: 0.25em 0 0 0;

  content: "";

  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2::after {
  position: absolute;

  width: 100%;
  margin: 0.85em 0 0 15px;

  content: "";

  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

section {
  position: relative;

  overflow: hidden;
}

.header-logo {
  padding: 100px 20px;

  text-align: center;

  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}

.header-logo__title {
  display: block;

  color: #df8a13;

  font-family: "PT Serif", serif;
}

.header-logo__description {
  display: block;

  letter-spacing: 0.2em;

  color: #ffffff;

  font-size: 1.15rem;
}

.main .panel-search {
  margin: 40px 0 20px 0;
}

.new-films-item:hover .new-films-item__label,
.top-week-item:hover .top-week-item__label {
  color: white;
}

.new-films .row,
.top-week .row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.new-films .thumbnail,
.top-week .thumbnail {
  margin-bottom: 15px;
}

.new-films-item,
.top-week-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.new-films-item:hover .thumbnail,
.top-week-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.new-films-item__image,
.top-week-item__image {
  width: 100%;
}

.new-films-item__label,
.top-week-item__label {
  display: block;
  overflow: hidden;

  white-space: nowrap;
     text-overflow: ellipsis;

  -o-text-overflow: ellipsis;
}

.new-films-item .thumbnail,
.top-week-item .thumbnail {
  -webkit-transition: background-color 0.25s ease;
       -o-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}

.new-films-item .caption,
.top-week-item .caption {
  text-align: center;
}

.film-news img {
  width: 100%;
}

.film-news-item:hover .thumbnail {
  background-color: #f0ad4f;
}

.film-news-item:hover h3 > a {
  color: #df8a13;
}

.film-news-item:hover .btn-warning {
  background-color: #df8a13;
}

.film-news-item__text {
  text-align: justify;
}

.film-news h3 > a {
  -webkit-transition: color 0.25s ease;
       -o-transition: color 0.25s ease;
          transition: color 0.25s ease;
}

.film-news .thumbnail {
  margin-bottom: 0;

  -webkit-transition: background-color 0.25s ease;
       -o-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}

.film-news .btn-warning {
  float: right;

  margin-bottom: 30px;

  -webkit-transition: background-color 0.25s ease;
       -o-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}

.film-info {
  font-size: 1.2em;
}

.film-info__badge {
  font-size: 0.8em;
}

.film-info__badge:not(:last-child) {
  margin-right: 3%;
}

.film-info__well {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.film-send-comment .btn {
  float: right;
}

.left-sidebar {
  margin-top: 40px;
}

.vertical-slider {
  overflow: hidden;

  border-radius: 4px;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  position: relative;

  clear: both;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: -5px;

  width: calc(100% - 85px);
  height: 1px;

  content: "";

  background-color: #dddddd;
}

.site-news-item:hover .site-news-item__title a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-item__image {
  float: left;

  width: 75px;
  margin: 0 10px 10px 0;

  -webkit-transition: background-color 0.25s ease;
       -o-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}

.site-news-item__image img {
  width: 100%;
}

.site-news-item__date {
  text-align: right;

  color: #909090;

  font-size: 0.8rem;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  display: -webkit-box;
  overflow: hidden;

  height: 50px;

  -webkit-transition: color 0.25s ease;
       -o-transition: color 0.25s ease;
          transition: color 0.25s ease;

  color: #165690;

  font-size: 1rem;
  line-height: 1.5rem;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.top-films .panel-body {
  padding-right: 0;
  padding-left: 0;
}

.top-films .list-group {
  margin-bottom: 0;
}

.top-films .badge {
  margin-top: 3px;
}

.top-films-item {
  border-top: 1px solid #dddddd;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.top-films-item:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films-item:last-child {
  border-bottom: none;
  border-radius: 0;
}

.top-films-item:hover {
  background-color: #df8a13;
}

.top-films-item:hover a {
  color: white;
}

.top-films-item:hover .badge {
  background-color: #232323;
}

.footer {
  margin-top: 60px;
  padding-top: 40px;

  color: #fbfbfb;
  background-color: #232323;
}

.footer ul {
  padding: 0;

  list-style: none;
}

.footer a {
  color: #777777;
}

.footer a:hover {
  color: white;
}

.footer-fifth {
  margin: 20px 0;

  text-align: center;
}

.footer-fifth a {
  color: #fbfbfb;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .header-logo__title {
    letter-spacing: 0.33em;

    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .header-logo__title {
    letter-spacing: 0.2em;

    font-size: 2.5rem;
  }
}